<nav class="min-w-full">
  <div class="container mx-auto flex flex-row justify-between py-5">
    <div>
      <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
    </div>
    <div>
      <button mat-icon-button aria-label="Information" matTooltip="About the website">
        <mat-icon>lightbulb</mat-icon>
      </button>
    </div>
  </div>
</nav>

<section style="background-image: url(assets/svg/Oreti.svg)" class="bg-right-top bg-no-repeat bg-contain">
  <div class="container mx-auto first-container flex relative">
    <div class="grid grid-cols-2 my-auto">
      <div>
        <h1 class="font-bold text-8xl mb-10">Welcome <br/><span class="text-4xl">To Meta platform's tools.</span></h1>
        <!--      <h1 class="font-bold "><span></span>To the meta platform's tools.</h1>-->
        <!--      <h1 class="font-bold text-5xl">And it's free!</h1>-->
        <button mat-flat-button color="primary" class="py-1 px-7">Get Started</button>
      </div>
      <div></div>
    </div>

  </div>
</section>


