<section class="main-landing relative">
  <div class="container min-h-screen">
    <div class="row min-h-screen">
      <div class="row min-h-screen">
        <div class="col-12 col-md-6 d-flex">
          <div class="my-auto">
            <h1 class="fw-bold display-4 mb-0">Welcome</h1>
            <h1 class="fw-bold display-5">To&nbsp;<span class="primary-title">Meta</span>&nbsp;platform's tools</h1>
            <p class="font-normal mb-7">We are providing variety of useful free MMO's tools to help <span class="font-semibold">Khmer</span> people reach their
              best potential in MMO fields.</p>
            <div class="d-flex">
              <button mat-flat-button color="primary" class="py-1 px-7 mr-2" [routerLink]="'/home'">Get Started
              </button>
<!--              <button mat-flat-button class="py-1 px-7 google-btn" (click)="signInWithGoogle()">Login with Google-->
<!--              </button>-->
            </div>
          </div>
        </div>
        <div class="col-12 d-none d-md-block col-md-6"></div>
      </div>
    </div>
  </div>
</section>

