/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Inter:wght@400;600;700&display=swap');
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Battambang', Roboto, "Helvetica Neue", cursive, sans-serif;
}

.main-landing {
  background-image: url('https://stevroger.github.io/grace-walker/assets/svg/Waimakariri.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.primary-title {
  color: #6759ae;
}
